  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }


  /***Navbar Selectors******************************************************/
  .navbar-container {
    display: flex;
    border: 1px solid black;
    background-color: purple;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    text-align: start;
    top: 0;
    position: fixed;
    height: 4em;
    width: 100%;
    background-size: 4vw;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }

  .macrozen-title {
    font-size: 3em;
    color: white;
  }


  /************************************************************************* */